{{#
	@name Layout
	@desc The default layout file.
#}}

<!doctype html>
<html lang="{{ site:short_locale }}">
    {{#
        The head has an optimum order of placing child tags:
        https://speakerdeck.com/csswizardry/get-your-head-straight?slide=39
    #}}
    <head>
        {{# meta charset, http-equiv, viewport #}}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{# <title></title> (part of seo_pro, therefore not rendered here) #}}
        {{# preconnect #}}
        {{# <script src="" async></script> #}}
        {{# CSS that includes @imports #}}
        {{# Synchronous JS #}}
        {{# Synchronous CSS #}}
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">

        {{# preload #}}
        {{# <script src="" defer></script> #}}
        {{# prefetch / prerender #}}
        {{# Everything else ((SEO) meta tags, icons, open graph, ...) #}}
        {{ seo_pro:meta }}

    </head>
    <body>

        <a href="#start" class="sr-only focus:not-sr-only">
            Skip to content
        </a>

        <main id="start" role="document">
            {{ template_content }}
        </main>

        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
